In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pandas as pd

# Sample DataFrame (replace this with your actual orders DataFrame)
df_orders = pd.DataFrame({
    'customer_unique_id': ['C1', 'C1', 'C1', 'C2', 'C2', 'C3', 'C3', 'C3'],
    'order_date': ['2021-01-01', '2021-02-05', '2021-02-10', '2021-01-10', '2021-02-15', '2021-01-20', '2021-03-01', '2021-03-15']
})

# Convert order_date to datetime
df_orders['order_date'] = pd.to_datetime(df_orders['order_date'])

# Sort orders by customer and date
df_orders = df_orders.sort_values(by=['customer_unique_id', 'order_date'])

# Calculate time difference between orders for each customer
df_orders['time_diff'] = df_orders.groupby('customer_unique_id')['order_date'].diff()

# Filter orders where time difference is <= 30 days
df_filtered = df_orders[df_orders['time_diff'] <= pd.Timedelta(days=30)]

In [3]:
df_filtered

  customer_unique_id order_date time_diff
2                 C1 2021-02-10    5 days
7                 C3 2021-03-15   14 days